venv/

__pycache__/
*.py[cod]

*.db
*.sqlite
*.sqlite3

storage/*
!storage/pdf/
storage/pdf/*
!storage/pdf/.gitkeep
!storage/thumbnails/
storage/thumbnails/*
!storage/thumbnails/.gitkeep
data/*
!data/
!data/.gitkeep



.vscode/
.env
